.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;
}

.container {
  margin: 0 auto;
  width: 700px;
  height: 600px;
  background: #4d4d4d;
  border-radius: 5px;
}

.movie-detail{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  padding-top: 20px;
}

.contenedor{
  align-self: center;
  width: 60%;
  background-color: #2161AB;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #091B30;
  border-radius: 10px;
  padding-left: 10px;
}
.contenedor img{
  margin: 10px;
  width: auto;
}
.contenedor data{

  width: 60%;
  margin: 5px 0;
}

.data-p{
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: #C5DBF4;
  border-radius: 5px;
  padding: 5px;
  width: 500px;
  color: rgb(58, 58, 58);
}
.title-info{
  width: 220px;
  height: 20px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.tomato-img{
align-self:center;
width: 50%;
}
.gendre{
  background-color: #6EA0D8;
  border-radius: 4px;
  padding: 2px;
  align-self: center;
  margin-right: 10px;
  margin-left: 10px;
}
.details {
  padding: 50px 0 0 50px;
}
.extra-data{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 500;
}
.Titulo{
  font-size: 40px;
  margin-bottom: -5px;
}

h3{
  display: flex;
  margin: 3px 0;
  width: 300px;
}

.span-left{
  color: #DBE7F5;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 110px;
}
.span-right{
  text-align: left;
}

.title {
    color: white;
    font-size: 40px;
    margin-bottom: 13px;
    line-height: normal;
    position: relative;
}
.title span {
    margin-left: 12px;
    background: #C4AF3D;
    border-radius: 5px;
    color: #544C21;
    font-size: 14px;
    padding: 0px 4px;
  }
.description {
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
  
}
.column {
    padding-left: 41px;
    padding-top: 30px;
    margin-left: 20px;
    width: 480px;
}

.img img {
  width: 200px;
  height: 210px;
  padding-left: 50px;
}
.container2 {
  display: flex;
  flex-direction: row;
}


